---
import Layout from "../layouts/Layout.astro";

const name = "Mahmudin Site";
const slog = "Just Random Man Personal Projects";
---

<Layout title={`${name}: ${slog}`} name={name}>
    <div class=""></div>
</Layout>
