---
import "../styles/global.css";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
	name: string;
}

const { title, name } = Astro.props;

const navLinks: { label: string; href: string }[] = [
	{ label: 'Home', href: '/' },
	{ label: 'Projects', href: '/projects' },
	{ label: 'About', href: '/about' }
];
---

<!doctype html>
<html lang="en">
	<head>
		<Head title={title} />
	</head>
	<body>
		<div class="min-h-screen global-colors">
			<Header name={name} navLinks={navLinks} />
			<main class="global-container">
				<slot />
			</main>
			<Footer name={name} />
		</div>
	</body>
</html>
